*{
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
    text-align: center;
}

h1 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: rgb(237, 190, 190);
    text-shadow: -4px 4px #e68896,
                 -8px 8px #a5365b,
                 -12px 12px #66489a,
                 -16px 16px #406f96,
                 -20px 20px #31828d,
                 -24px 24px #3e6f40,
                 -28px 28px #8b942e,
                 -32px 32px #a87625,
                 -36px 36px #9b3d21;
  }
  
h2{
    margin-top: 400px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    color: rgb(113, 86, 168);
    text-shadow: -4px 4px #411c78e5,
                 -8px 8px #4c2264,
                 -12px 12px #482289,
                 -16px 16px #2a145d,
                 -20px 20px #220a34,
                 -24px 24px #2a084b,
                 -28px 28px #350e4d,
                 -32px 32px #2a084a,
                 -36px 36px #2a0d50;
}  
#game {
    /* background-image: url("https://c.tenor.com/zLS65eydF60AAAAC/magic-potato.gif"); */
    background-image: url("https://media0.giphy.com/media/jTGiUVEi9KcQ2VrtmB/giphy.gif?cid=ecf05e475mqj9pzhrix3tk741m9fe9tqxmifq2wlwxld1rog&rid=giphy.gif&ct=g");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    background-repeat: no-repeat;
    /* background-color: black; */
}
#home {
    background-image: url("https://pr0.nicelocal.com.au/wMR2ybR6IadPx49nR87RCA/440x440,q85/4px-BW84_n0QJGVPszge3NRBsKw-2VcOifrJIjPYFYkOtaCZxxXQ2ZjwjbH4k2X7fvCZHcHLuGdLFPMCr2nxLYuzuzGhazwBlw-U8_yQzyqYHZgQOHoabA");
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}  


.keepers{
    /* display: flex; */
    flex-direction: column;
    text-align: left;
    gap: 30px;
    align-items: center;
    color: rgb(5, 5, 5);
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-content: center;
    /* border: 10px double #4e3862; */
    border-radius: 10px;
}


.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 800px;
    height: 250px;
    padding-top: 240px;
}

.hole {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 150px ;
    height: 150px;
    border: 5px solid #ccff00ea;
    border-radius: 10px;
}

.mole {
    background-image: url("http://pa1.narvii.com/7324/3ec4179c3653b974d7197b01fe372f1ec4e45b4er1-370-300_00.gif");
    background-position: center;
    background-size: 150px;
}

.magicMole {
    background-image: url("https://media2.giphy.com/avatars/Alicesocal/xc03VGyFDohy.gif");
    background-position: center;
    background-size: 150px;
}

.hotMole{
    /* background-image: url("https://media3.giphy.com/media/3o7bu4EJkrXG9Bvs9G/giphy.gif?cid=ecf05e47gyyrvcya94g8g6tlkkcdvzydqikzw64xw8tf5c2n&rid=giphy.gif&ct=g"); */
    background-image: url("https://hypixel.net/attachments/65f01324-221b-40ad-8a6b-114674858396-gif.2278487/");
    background-position: center;
    background-size: 150px;
}

/* *{
    border: 1px solid red;

} */